#container {
  font-size: 1rem;
  padding: 3rem 3rem;
  display: flex;
  flex-direction: column;
  font-family: Roboto, sans-serif;

  .form {
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
  }

  .btn-validate {
    align-self: flex-end;
    background-color: #0d6366;
    color: white;

    width: 8rem;
    padding: .1rem;

    &:disabled {
      background-color: rgba($color:#0d6366, $alpha:0.3);
    }
  }
}
