<main class="item-offer">
  <header class="item-offer__header d-flex justify-content-between align-items-center">
    <p class="item-offer__title p-0 m-0">
      itemOfferId: {{ITEM_OFFER?.id}}
    </p>
    <img class="icon" [src]="ICONS.close.src" [alt]="ICONS.close.alt" (click)="closeItemOfferDetails()">
  </header>

  <section class="item-offer__content d-flex flex-column">
    <img class="item-offer__image img-fluid" [src]="ITEM?.image?.URL" alt="Item Offer image">

    <div class="item-offer__title d-flex flex-column justify-content-center text-center mt-3">
      <h6 class="">
        {{ITEM?.name}}
      </h6>
      <p class="">
        itemId: {{ITEM?.id}}
      </p>
    </div>

    <p class="text-justify">
      {{ITEM?.description}}
    </p>

    <div class="item-offer__nutritional-info">
      <h6 class="title">Nutricional info</h6>
      <ul class="nutritional-list">
        <li class="nutritional-item mt-2">
          <span class="title">
            Description:
          </span>
          {{verifyExistsContent(ITEM?.nutritionalInfo?.description)}}
        </li>

        <li class="nutritional-item">
          <span class="title">
            Calories:
          </span>
          {{verifyExistsContent(ITEM?.nutritionalInfo?.calories)}}
        </li>
        <li class="nutritional-item">
          <span class="title">
            Allergen:
          </span>
          <ng-container *ngIf="ITEM?.nutritionalInfo?.allergen; else notExist">
            <ng-container *ngFor="let allergen of ITEM?.nutritionalInfo?.allergen">
              {{allergen}}
            </ng-container>
          </ng-container>
          <ng-template #notExist>
            {{DEFAULT_NOT_AVAILABLE}}
          </ng-template>

        </li>
        <li class="nutritional-item">
          <span class="title">
            Additives:
          </span>
          <ng-container *ngIf="ITEM?.nutritionalInfo?.additives; else notExist">
            <ng-container *ngFor="let additive of ITEM?.nutritionalInfo?.additives">
              {{additive}}
            </ng-container>
          </ng-container>
          <ng-template #notExist>
            {{DEFAULT_NOT_AVAILABLE}}
          </ng-template>
        </li>

        <li class="nutritional-item">
          <span class="title">
            Suitable Diet:
          </span>
          <ng-container *ngIf="ITEM?.nutritionalInfo?.suitableDiet; else notExist">
            <ng-container *ngFor="let diet of ITEM?.nutritionalInfo?.suitableDiet">
              {{diet}},
            </ng-container>
          </ng-container>

          <ng-template #notExist>
            {{DEFAULT_NOT_AVAILABLE}}
          </ng-template>
        </li>
      </ul>

    </div>

    <div class="item-offer__options" *ngFor="let optionGroupId of ITEM_OFFER?.optionGroupsId">
      <div class="option-group my-3">
        <div class="option-group__header">
          <h6 class="title">
            {{getOptionGroupById(optionGroupId)?.name}}:
          </h6>
          <p class="m-0">OptionGroupId: {{optionGroupId}}</p>
          <span class="option-group-min_max m-0 p-0"> Min: {{getOptionGroupById(optionGroupId)?.minPermitted}}, Max:
            {{getOptionGroupById(optionGroupId)?.maxPermitted}} </span>
        </div>

        <div class="option-group__option my-3" *ngFor="let option of getOptionGroupById(optionGroupId)?.options">
          <div class="option__header mb-1">
            <div>
              <img class="cicle-img" src="assets/images/icons/black-circle.png">
              <span class="option-name pl-2">{{getItemById(option?.itemId)?.name}}</span>
              <span class="option-max_permitted"> - Max Permitted: {{option?.maxPermitted}} </span>
            </div>
            <span class="option-value">{{option?.price?.value | currency:"BRL"}}</span>
          </div>

          <p class="option__description">{{getItemById(option?.itemId)?.description}}</p>
          <p class="option__id p-0">OptionId: {{option?.id}}</p>

        </div>
      </div>
      <hr class="m-0">
    </div>
  </section>


  <footer class="item-footer mt-3 d-flex justify-content-end">
    <h2 class="price">
      Price:
      {{ITEM_OFFER?.price?.value | currency}}
    </h2>
  </footer>
</main>
