.details,
.service {
  padding: 1rem;
  font-size: 0.8rem;

  hr {
    margin: 0 0 1rem 0 !important;
  }

  h4 {
    margin: 0;
  }

  strong {
    margin-right: .6rem;
  }

  .icon {
    height: auto !important;
    font-size: 1rem;
  }
}

.details {
  .details__info {
    .details__info__data {
      display: flex;
    }
  }
}

.service {
  .service__info {
    margin-bottom: 1rem;

    .service__info__schedules {
      display: grid;

      grid-template-columns: 25% 75%;
      margin-bottom: 1rem;

      .service__info__schedules__days {
        .day-of-week {
          text-align: center;
          margin: .2rem .2rem;
        }
      }

      .service__info__schedules__time-period {
        display: flex;
        margin-left: 2rem;
        align-items: center;
      }
    }
  }
}
